<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Social Registry Sanity Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Sanity Suite">
        <classes>
            <class name="testcase.LoginPageTest"/>
            <class name="testcase.IndividualTest"/>
            <class name="testcase.GroupTest"/>
            <class name="testcase.GenderTypeTest"/>
            <class name="testcase.GroupMembershipKindTest"/>
            <class name="testcase.GroupTypeTest"/>
            <class name="testcase.IdTypeTest"/>
            <class name="testcase.RegionTest"/>
            <class name="testcase.RegistrantTagsTest"/>
            <class name="testcase.RelationshipTest"/>
            <class name="testcase.DistrictConfigTest"/>

        </classes>
    </test>
</suite>
